<section class='semi-column my-favors'>
  <div class='section-title'>
    <h2>Tus Favores</h2>
  </div>
  <div class='external-favors-table-container'>
    <table class='favors-table'>
      <thead>
      <td class='title'>Título</td>
      <td class='offers'>Dispuestos</td>
      </thead>
      <tbody>
      <tr>
        <td class='title'>Arreglar el ordenador</td>
        <td class='offers'>3</td>
      </tr>
      <tr>
        <td class='title'>Pintar el salón entero</td>
        <td class='offers'>1</td>
      </tr>
      <tr>
        <td class='title'>Acompañarme a mi casa</td>
        <td class='offers'>8</td>
      </tr>
      <tr>
        <td class='title'>Venirse de cervezas conmigo, estoy muy ...</td>
        <td class='offers'>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>