<section class='main-column external-favors'>
  <%= render :partial => 'dashboard/external_favors' %>
</section>

<section class='main-column internal-favors'>
  <%= render :partial => 'dashboard/internal_favors' %>
</section>