.main-title {
  border-radius: 5px;
  margin: 10px;
  padding-left: 20px;
  width: 384px;
  height: 96px;
  background-color: #788BA3;
  float: left;
}

.main-title h1 {
  line-height: 96px;
}

.user-access {
  float: right;
  margin: 10px;
  padding-right: 20px;
}

.main-section {
  padding: 10px;
  overflow: hidden;
  height: 672px;
  clear: both;
}

.main-column {
  border-radius: 5px;
  width: 504px;
  background-color: #788BA3;
  height: 672px;
}

.external-favors {
  float: left;
}

.internal-favors {
  float: right;
}

.section-title {
  margin: 10px 10px 0 0;
  float: right;
  right: 0;
}

.semi-column {
  clear: both;
  margin: 10px;
  background-color: white;
  height: 321px;
  margin-top: 10px;
}

.full-content {
  margin: 10px;
  background-color: white;
  height: 651px;
}

.semi-content {

}
